body {
    background:url("https://ilyakhasanov.ru/images/background/75.png");
}
.tab {
    overflow: hidden;
}
.wrapper {
      height: 900px;
      width: 1200px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(0.000px);
      opacity: 0.95;
      border-radius : 20px;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow:
      1px 1px 1px rgba(255, 255, 255, 0.3),
      -1px -1px 1px rgba(255, 255, 255, 0.3);
}
